.label {
margin-right: 5px;
font-size: 1.2em;
}
.submitBtn {
    margin-left:2px;
}
.yearDropdown {
    margin-left: 5px;
}
.yearDropdownMain {
    background: #e9ecef;
    border-radius: 0px;
    margin-right: 2px;
}
